@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

sect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(to right bottom, grey 60%, blue);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

section {
    padding: 2rem;
    border-radius: 20px;
    background: linear-gradient(to left top, grey 20%, blue);
    box-shadow: 0 0 1rem cyan;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noflex {
    flex-direction: row;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

input {
    padding:0.3rem 1rem;
    border: none;
    border-radius: 0.8rem;


}

input[type=submit]{
    padding: 0.4rem 1rem;
    border-radius: 0.8rem;
    border: none;
}
input[type=submit]:hover{
    color: black;
    background-color: grey;
    transition-duration: 0.4s;
}

